run = "python3 -m pip install -q -r requirements-da.txt && python3 main.py"
entrypoint = "main.py"
hidden = [".git", "__pycache__", ".venv"]
modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python3 -m pip install -q -r requirements-da.txt && python3 main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80

[env]
PYTHONUNBUFFERED = "1"
